QGroupBox {
    background-color: #333;
    border: 1px solid #59f;
    border-radius: 6px;
    opacity: 50;
}
QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 2px 8000px 2px 8000px;
    background-color: #000;
    border: 2px solid #37c;
}
QProgressBar {
     border: 0px solid grey;
     border-radius: 3px;
     background-color: black;
}
QProgressBar::chunk {
    background-color: #f55;
}
# width: 20px;
# border: 1px solid #f95;  
# padding: 1px;