QGroupBox {
    border: 1px solid #37c;
    background-color: #333;
    border-radius: 6px;
    opacity: 50;
}
QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 2px 8000px 2px 8000px;
    background-color: #000;
    border: 2px solid rgba(51, 120, 204, 1);
}
QProgressBar::chunk {
    background-color: rgba(255, 156, 27, 0.86);
}
QProgressBar {
    border: 0px solid black;
    border-radius: 1px;
    background-color: rgba(20, 20, 20, 1);
}
/* Style for individual tabs */
QTabBar::tab {
    background: #333;
    border: 2px solid rgba(51, 120, 204, 1);
    border-bottom-color: #666; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-width: 45px;
    padding: 3px;
}
/* Style for the currently selected tab */
QTabBar::tab:selected {
    background: #000;
    border-bottom-color: rgba(51, 120, 204, 1)
}
/* Style for tabs when they are NOT selected */
QTabBar::tab:!selected {
    margin-top: 3px; /* Makes them look slightly smaller/behind */
}